
body{
	margin: 0;
}

#header{
	position: relative;
	width: 100%;
	height: 600px;
	background-image: url('bg2.jpg');
	background-size: 100%;
}
#nav{
	position: absolute;
	width :100%;
	height: 50px;
	
}
#logo{
	height: 26px;
	width: 30px;
	margin-top: 20px;
	margin-left: 27px;
}
#logo_text{
	display: inline;
	position:absolute;
	color: white;
	font-size: 25px;
	top:-5px;
	left :60px;
	font-family: sans-serif;
	font-weight: bold;
}
#host_link{
	display: inline;	
	float: right;
	text-decoration: none;
	font-family: sans-serif;
	color: white;
	border: 2px solid white;
	padding: 5px;
	margin-right:50px;
	margin-top: -25px; 
	border-radius: 5px;
}
#host_link:visited{
	text-decoration: none;
	font-family: sans-serif;
	color: white;
}
#host_link:hover {
	background-color: rgba(0,0,0,0.5);
}
#nav_link1{
	display: inline;
	float: right;
	text-decoration: none;
	font-family: sans-serif;
	color: white;	
	margin-top: -10px;
	margin-right: 100px;
}
#nav_link2{
	display: inline;
	float: right;
	text-decoration: none;
	font-family: sans-serif;
	color: white;
	margin-top: -10px;
	margin-right: 50px;
}
#nav_link3{
	display: inline;
	float: right;
	text-decoration: none;
	font-family: sans-serif;
	color: white;
	margin-top: -10px;
	margin-right: 50px;
}
#welcome_text_div{
	position: absolute;
	width: 800px;
	height: 300px;
	top: 26%;
	left: 24%;
}
#welcome_text{
	background: linear-gradient(to right,#330867 0%,#30CFD0 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-family: sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 57px;
	margin-top: 50px;
	text-align: center;
}
#welcome_text_sub{
	color: #b3f0ff;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 37px;
	margin-top: -30px;
	text-align: center;
}
#welcome_link{	
	position: absolute;
	float: center;
	text-decoration: none;
	font-family: sans-serif;
	color: white;
	border: 2px solid white;
	background-color: rgba(250,250,250,0.6);
	padding: 10px 30px 10px 30px;
	margin-left:330px;
	margin-top: 10px; 
	border-radius: 5px;
}
#welcome_link:hover{
	background-color: rgba(0,0,0,0.6);
}
#searchbar{
	position: absolute;
	width: 60%;
	height: 50px;
	background-color:#DCDCDC;
	bottom: 20px;
	left:320px;
	border-radius: 5px;
}
#where_div{
	position: absolute;
	width: 40%;
	height: 50px;
	border-right: 0.5px solid grey;
}
#check_div{
	position: absolute;
	width: 15%;
	height: 50px;
	border-right: 0.5px solid grey;
	left:40%;
}
#check_out_div{
	position: absolute;
	width: 15%;
	height: 50px;
	border-right: 0.5px solid grey;
	left:55%;
}
#guest_div{
	position: absolute;
	width: 15%;
	height: 50px;
	border-right: 0.5px solid grey;
	left:70%;
}
#search_div{
	position: absolute;
	width: 15%;
	height: 50px;
	left:85%;
	background-color:#cc0000;
}
#search_div:hover{
	background-color: #DC143C;
}
#searchbar_text{
	font-family: sans-serif;
	color: grey;
	margin-left: 15px;
}
#search_text{
	position: absolute;
	font-family: sans-serif;
	color: white;
	margin-left: 15px;
	margin-top: 14px;
	text-decoration: none;
}
#mid{
	position: relative;
	width: 100%;
	height: 700px;
	background-size: 100%;
	background-color: white;
}
#part1{
	position: absolute;
	width: 450px;
	height: 400px;
	margin-top: 50px;
	margin-left: 60px;
	border-radius: 15px;
	border :0.5px solid grey; 
	box-shadow: 10px 10px 5px grey;
}
#part2{
	position: absolute;
	width: 450px;
	height: 400px;
	margin-top: 50px;
	margin-left: 540px;
	border-radius: 15px;
	border :0.5px solid grey; 
	box-shadow: 10px 10px 5px grey;
}
#part3{
	position: absolute;
	width: 450px;
	height: 400px;
	margin-top: 50px;
	margin-left: 1030px;
	border-radius: 15px;
	border :0.5px solid grey; 
	box-shadow: 10px 10px 5px grey;
}
#part_image{
	width:100%;
	height:80%;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.mid_text{
	color: black;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 25px;
	margin-top: 5px;
	margin-left: 15px;
}
.link1{
	text-decoration: none;
}
.mid_para{
	color: grey;
	font-family: sans-serif;
	font-size: 15px;
	margin-top: -25px;
	margin-left: 15px;
}
#mid_heading{
	margin-left: 100px;
	margin-top: 50px;
	font-family: sans-serif;
	background: linear-gradient(to right, rgb(146, 23, 77) 9.38%, rgb(228, 29, 92) 88.54%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	font-size: 50px;
}

#lower_mid{
	background-color:black;
	height:900px;
	width:100%; 
}
#lower_part1{
	position: absolute;
	margin-left: 60px;
	margin-top: 190px;
	height:650px;
	width:45%;
	background-color: #404040;
	border-radius: 15px;
}
#lower_part2{
	position: absolute;
	margin-left: 760px;
	margin-top: 190px;
	height:300px;
	width:23%;
	background-color: #404040;
	border-radius: 15px;
}
#lower_part3{
	position: absolute;
	margin-left: 1125px;
	margin-top: 190px;
	height:300px;
	width:23%;
	background-color: #404040;
	border-radius: 15px;
}
#lower_part4{
	position: absolute;
	margin-left: 760px;
	margin-top: 510px;
	height:330px;
	width:47%;
	background-color: #404040;
	border-radius: 15px;
}
#lower_mid_heading{
	position: absolute;
	color:white;
	margin-left: 70px;
	margin-top: 50px;
	font-family: sans-serif;
	font-size: 35px;
	font-weight: bold;
}
#lower_mid_sub{
	position: absolute;
	color:white;
	margin-left: 70px;
	margin-top: 105px;
	font-family: sans-serif;
	font-size: 18px;
}
#lower_part{
	color:white;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: bold;
	margin-top: 10px;
	margin-left: 10px;
}
#bottom{
	width: 100%;
	height: 250px;
	color:white;
}
#bottom1{
	position: absolute;
	width:25%;
	height:250px;
	margin-left: 100px;
}
#bottom2{
	position: absolute;
	width:25%;
	height:250px;
	margin-left: 450px;
}
#bottom3{
	position: absolute;
	width:25%;
	margin-left: 800px;
	height:250px;
}
#bottom4{
	position: absolute;
	width:25%;
	height:250px;
	margin-left: 1150px;
}
#bottom_heading{
	margin-top: 20px;
	margin-left: 50px;
	font-weight: bold;
	font-family: sans-serif; 
	color:black;
}
#bottom_link{
	text-decoration: none;
	margin-top: 20px;
	margin-left: 50px;
	font-family: sans-serif; 
	color:grey;
}
#footer{
	width:100%;
	height: 80px;
}
#footer_length{
	width: 90%;
}
#footer_text{
	font-family: sans-serif;
	margin-top: 15px;
	margin-left: 100px;
}
#world1{
	position: absolute;
	height: 20px;
	width: 20px;
	margin-left: 1260px;
	margin-top: -33px;
}
#footer_link{
	position: absolute;
	margin-top: -33px;
	margin-left: 1290px;
	font-family: sans-serif; 
	color:black;
}
.link{
	color:black;
}
#footer_fb_image{
	position: absolute;
	font-size: 25px;
	margin-left:1355px;
	margin-top:-35px;
}
#footer_twitter_image{
	position: absolute;
	font-size: 25px;
	margin-top: -35px;
	margin-left: 1390px;
}
#footer_insta_image{
	position: absolute;
	height: 20px;
	width: 20px;
	margin-top: -35px;
	margin-left: 1430px;
}